#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#background {
  background-image: url("/bg-photo-listing.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mask-image: url("/grain.png");
  -webkit-mask-image: linear-gradient(
    to top,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
}

#bigname {
  font-family: "Poppins";
  font-weight: 900;
}
